#grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 50px 1fr 50px;
    grid-template-areas: "logo header nav"
                        "main main main"
                        "footer footer footer";
}

main img {
    grid-area: main;
    align-items: center;
    width: 500px;
    height: 500px;
}
