@media screen and (max-width: 800px) {
    .left, .main, .right {
      width: 100%;
    }

  }

body {
    background-color: cyan;
    margin: 0;
}

#CMSGrid {
    background-image: url(img/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;


    display: grid;
    margin: auto;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "title title title"
                         "logo logo logo"
                         "meny meny meny"
                         "kontakt kontakt kontakt"
                         "main main main"
                         "footer footer footer";
}

#title {
    grid-area: title;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(img/header1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

#title h2 {
    text-align: center;
}

#avatar {
    grid-area: logo;
    display: flex;
    justify-content: center;
    align-items: center;
}

#avatar img {
    max-width: 10rem;
    max-height: 5rem;
}

#meny {
    grid-area: meny;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav{
    display: flex;
    justify-content: space-evenly;
}

#meny nav ul li {
    display: inline-block;
    list-style: none;
    margin: 20px;
}

#meny nav ul li a{
    font-size: 20px;
}

#kontakt {
    grid-area: kontakt;
    display: flex;
    justify-content: center;
}

#kontakt .button1 {
    border: px solid green;
    background-color: yellow;
    text-align: center;
}
/*
#grid-container {
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: 50px;
    grid-template-areas: "logo header";
}
*/
#main {
    grid-area: main;
    display: flex;
    justify-content: space-evenly;
    /*align-items: center;*/
    padding-bottom: 10rem;
    padding-top: 10rem;
}
/*
#avatar, #title, #meny {
    background-image: url(img/header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}*/
#footer {
    grid-area: footer;
    display: flex;
    justify-content: space-evenly;
    
}

article{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-style: solid;
    width: 300px;
    margin: 20px;
    background-color: aquamarine;
}

article h3 {
    text-align: center;
}

article p {
    text-align: center;
}

article img {
    height: 200px;
    width: 300px;
}


section h1 {
    text-align: center;
}

section img {
    height: 500px;
    width: 700px;
}

main article .cms1 {
    grid-area: main;
    display: flex;
    align-items: left;
}
#cms2 {
    display: flex;
    justify-content: right;
}