body {
    background-color: cyan;
    margin: 0;
}

nav li {
    margin: 0 10px;
    grid-area: nav;
}
nav {
    background-color: lightblue;
    height: 4rem;
}
.logo {
    width: 300px;
    border: 25px;
    padding: 50px;
    margin: 20px;
    grid-area: logo;
}
#logo {
    height: 4rem;
    background-color: lightblue;
} 

.navigasjon {
    overflow: auto;
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: right;
    height: 100%;
}

header {
    background-color: lightblue;
    height: 4rem;
    grid-area: header;
}

#grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 50px 1fr 50px;
    grid-template-areas: "logo header nav"
                        "main main main"
                        "footer footer footer";
}

main {
    grid-area: main;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: auto;
    gap: 2rem;
}

main article {
    flex-basis: 20%;
    justify-content: center;
    padding: 5rem;
}


img {
    height: 200px;
    width: 300px;
}

footer {
    background-color: chocolate;
    height: 4rem;
    grid-area: footer;
}