body {
   
    margin: 0;
}

nav li {
    margin: 0 10px;
    grid-area: nav;
}

nav li a {
    padding-top: 2rem;
}

nav {
    background-color: chocolate;
    height: 6rem;
}

#logo {
    grid-area: logo;
    display: flex;
    background-color: chocolate;
    height: 6rem;
    justify-content: center;
}
#logo a {
    padding-top: 2rem;
}
/*
#logo {
    grid-area: logo;
    display: flex;
    height: 6rem;
    background-color: chocolate;
    justify-content: center;
}

.logo img {
    display: grid;
    place-items: center;
}
*/

.navigasjon {
    overflow: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: right;
    height: 100%;
}

header {
    background-color: chocolate;
    height: 6rem;
    grid-area: header;
    text-align: center;
}

#grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 50px 1fr 50px;
    grid-template-areas: "logo header nav"
                        "main main main"
                        "footer footer footer";
}

main {
    grid-area: main;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: auto;
    
}

main article {
    flex-basis: 20%;
    justify-content: center;
    height: 350px;
    padding: 1rem;
    margin: 5rem;
    border: 1px solid purple;
}

.bilde1 {
    grid-area: main;
    justify-content: center;
}

article h3 {
    text-align: center;
}
article p {
    text-align: center;
}

main img {
    height: 200px;
    width: 300px;
}

section h1 {
    text-align: center;
}


footer {
    margin-top: 30px;
    padding: 5%;
    background-color: chocolate;
    height: 4rem;
    grid-area: footer;
}