body {
    background-color: cyan;
    margin: 0%;
}
.grid-container {
    width: 100%;
    display: grid;
    grid-template-columns: 30% auto;
    grid-template-rows: 60px 1fr 1fr 1fr 60px;
    grid-template-areas: "header header"
                        "text img"
                        "img text"
                        "text img"
                        "footer footer";
}

header {
    background-color: yellow;
    grid-area: header;
}

.navigasjon {
    overflow: auto;
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: right;
    height: 100%;
}
nav li {
    margin: 0 10px;
}






footer {
    background-color: lightgray;
    padding: 1rem;
}